adip-backend/logic-app/alert-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "HTTP_Drift_Alert": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "resourceId":     { "type": "string" },
              "resourceGroup":  { "type": "string" },
              "severity":       { "type": "string" },
              "changeCount":    { "type": "integer" },
              "detectedAt":     { "type": "string" },
              "subscriptionId": { "type": "string" },
              "differences":    { "type": "array" }
            }
          }
        }
      }
    },
    "actions": {
      "Condition_High_Or_Critical": {
        "type": "If",
        "expression": {
          "or": [
            { "equals": ["@triggerBody()?['severity']", "critical"] },
            { "equals": ["@triggerBody()?['severity']", "high"] }
          ]
        },
        "actions": {
          "Call_SendAlert_Function": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://adip-func-001.azurewebsites.net/api/sendalert?code=SEND_ALERT_FUNCTION_KEY",
              "headers": { "Content-Type": "application/json" },
              "body": "@triggerBody()"
            },
            "runAfter": {}
          },
          "Return_Sent": {
            "type": "Response",
            "inputs": { "statusCode": 200, "body": { "alerted": true } },
            "runAfter": { "Call_SendAlert_Function": ["Succeeded", "Failed"] }
          }
        },
        "else": {
          "actions": {
            "Return_Skipped": {
              "type": "Response",
              "inputs": { "statusCode": 200, "body": { "alerted": false } },
              "runAfter": {}
            }
          }
        },
        "runAfter": {}
      }
    },
    "parameters": {}
  },
  "parameters": {}
}
